<%# TODO: 调整页面布局、样式 %>
<div>
  <ul>
    <li><%= event[:created_at] %></li>
    <li><%= event[:actor_name] %></li>
    <li><%= event[:actor_avatar] %></li>
    <li><%= event[:action] %></li>
    <li><%= event[:trackable_name] %></li>
  </ul>
</div>
